h1{
   font-family: "Montserrat-Black";
   font-size: 3.5rem;
   line-height: 1.5;
}

h2{
   font-family: "Montserrat-Black";
   font-size: 3rem;
   line-height: 1.5;
}

h3{
   font-family: "Montserrat-Bold";
   font-size: 1.5rem;
   line-height: 1.5;
 }

.navbar-brand{
   margin-left: 10px;
   font-family: "Ubuntu";
   font-size: 1.5rem;
  
}
.img{
   padding: 0.2rem;
}



.navbar-toggler{
   padding: 0% 1%;
}


.car{
   border-radius: 25px;
   width:300px;
   height:550px;
   margin-bottom: 30px;
   margin-top: 60px;
   margin-left: 30px;
   transform: rotate(25deg);
}


.nav-item{
   padding: 0% 2%;
}

 .fea{
    width:150px;
    height: 150px;
    font-family: "Montserrat-Bold";
 }

 .profile{
   width:150px;
   height: 150px;
 }

 .press-img{
    width: 150px;
    height: 150px;
    margin: 50px 100px ;
    background-color: gold;
 }

 .carousel-item{
    padding: 7% 15%;
 }




 /* ID */
 #title{
    background-color:#AAAAAA;
    text-align: center;

 }

 #first{
   padding: 3% 15%;
}
 
 #features{
    text-align: center;
    padding: 6% 8%;  
 }


 #btns{
   position: relative;
   margin-left: 20px;
}

#down-1{
   margin: 0% 2.5%
}

#down-2{
   margin: 0% 2.8%
}

#down-3{
   margin: 0% 2.5%
}

#down-4{
   margin: 0% 2.5%
}

#testimonials{
   text-align: center;
   background-color: darkblue;
   
}

#praveen{
   background-color: #FF449F;
   color: white;
}

#praveen_1{
   margin-top: 20px;
}

#praveen_2{
   margin: 20px;
}

#bharathi{
   background-color: #B1E693;
   color: white;
}

#bharathi_1{
   margin: 20px;
}

#bharathi_2{
   margin-top: 40px;
}


#naveen{
   background-color: #C67ACE;
   color: white;
}

#naveen_1{
     margin-top: 20px;
}

#naveen_2{
   margin: 20px;
}

#cta{
    background-color: #F43B86;
    text-align: center;
    padding: 3% 0%;
    color: white;
}

#footer{
   text-align: center;
   background-color: black;
   color: whitesmoke;
   padding: 2% 0%;
}

#press{
   text-align: center;
   background-color: gold;
}

#smedia{
   margin: 2%;
}

#smedia:hover{
   color: green;
}
